@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
main{
    background-color: grey;
    padding: 20px;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center
    }
h1,h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 153, 0);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);
}
form{
    margin-top: 10px;
}
input[type=text]{
    background-color: rgb(216, 216, 216);
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 30vw;
    height: 30px;
}
button{
    width: 30vw;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(255, 153, 0);
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(46, 46, 46);
}
button:hover{
    background-color: rgb(255, 160, 18);
    transform: scale(.99);
}
#impresso{
    width: 30vw;
    margin-top: 10px;
    color: white;
}

