@charset "UTF-8";
/*Mobile First*/
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 140, 255);
    width: 100vw;
    height: 100vh;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: 0.5s;

    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
}
section#login> #imagem{
    display: block;
    background: rebeccapurple url(../Imagens/background.jpg) no-repeat center fixed;
    background-size: cover;
    height: 200px;

}
label{
    display: none;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}
div.campo{
    background-color: blueviolet;
    width: 100%;
    height:40px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.568);
}
section#login span{
    color: white;
    padding-top: 8px;
    padding-left: 8px;
}
input[type="email"]{
    background-color: rgb(99, 182, 250);
    height: 30px;
    border-radius: 8px;
    border-style: none;
    width: calc(100% - 40px);
    transform: translate(0, -7px);
    padding-left: 10px;
}
input[type="password"]{
    background-color: rgb(99, 182, 250);
    height: 30px;
    border-radius: 8px;
    border-style: none;
    width: calc(100% - 40px);
    transform: translate(0, -7px);
    padding-left: 10px;
}
input:focus-within{
    background-color: aliceblue;
}
section#login .botao{
    background-color: blueviolet;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 1.3em;
    border-style: none;
}
section#login .botao:hover{
    background-color: rgb(155, 62, 241);
    transform: scale(0.98);
    cursor: pointer;
}
form > a.esqueci{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    
}