/* Variáveis para cores: */

:root{
  --fundo-principal: #68d4ff;
  --texto: #000000;
  --destaque: #007bff;
  --destaque-inverso: #00c3ff;
  --fundo-card: #ffffff;
  
  /*Variáveis para o tema escuro*/
  --fundo-principal-escuro: #025c86;
  --destaque-escuro: #004869;
  --fundo-card-escuro: #222222;
  --texto-inverso: #ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--fundo-principal);
  color: var(--texto);
  line-height: 1.5em;
}
header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
nav#menu ul{
  list-style: none;
  display: flex;
  gap: 20px;  
}
nav#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 5px 5px;
  border-radius: 10px;

}
nav#menu a:hover{
  background-color: var(--fundo-principal);
  transition: .5s;
  color: var(--destaque);
}
main{
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 10px;
  padding-top: 60px;
}
section#ficha{
  background-color: var(--fundo-card);
  border-radius: 5px;
  padding: 20px;
  grid-column: 2;
  scroll-margin-top: 65px;
}
section#ficha img{
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
section#ficha h1{
  color: var(--destaque);
  text-align: left;
  margin: 15px 0;
  font-size: 2em;
}
div#social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.5em;
  margin: 10px 0;
}
div#social a{
  color: var(--destaque);
  transition: color .5s;
}
div#social a:hover{
  color: var(--destaque-inverso);
  transition: .5s;
  transform: scale(1.5);
}
section#detalhes{
  grid-column: 2;
}
article{
  background-color: var(--fundo-card);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  scroll-margin-top: 65px;
}
article h2{
  color: var(--destaque);
  margin-bottom: 10px;
}
.videoContainer{
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;
}

.videoContainer iframe{
  position: absolute;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
article.skills{
  padding: 10px;
}

div.container{
  margin-bottom: 10px;
}
div.info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--destaque);
  margin-top: 10px;
}
.skill-barra-container{
  width: 100%;
  height: 10px;
  background-color: lightgray;
  border-radius: 10px;
  overflow: hidden;
}
.skill-bar{
  height: 100%;
  background-color:var(--destaque);
  transition: width 0.5s ease-in-out;
  border-radius: 10px;
}
.container-formacao{
  background-color: var(--destaque);
  border-radius: 10px;
  ;
}
.card-formacao{
  color: var(--destaque);
  background-color: white;
  border: 1px solid var(--destaque);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.card-formacao:hover{
  transform: translateX(8px);
  width: calc(100% - 8px);
}
.card-projetos{
  color: var(--destaque);
  border: 1px solid var(--destaque);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
  .card-projetos img{
  width: 50%;
  border-radius: 10px;
  margin-top: 10px;
}
summary{
  cursor: pointer;
  font-weight: bold;
  color: var(--destaque);
  margin-bottom: 10px;
}
footer{
  background-color: var(--destaque);
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
footer a{
  color: white;
  font-weight: 600;
  text-decoration: none;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: var(--destaque);
}
                                          /* Tema escuro */
body.escuro{
  background-color: var(--fundo-principal-escuro);
  color: var(--texto-inverso);
}
body.escuro header{
  background-color: var(--destaque-escuro);
  color: var(--texto-inverso);
}
body.escuro nav#menu a:hover{
  background-color: var(--destaque-inverso-escuro);
  color: var(--texto-inverso);
}
body.escuro section#ficha{
  background-color: var(--fundo-card-escuro)
}
body.escuro section#ficha p{
  color: var(--texto-inverso);
}
body.escuro #ficha img{
  border: 5px solid var(--fundo-card-escuro);
  outline: 5px solid var(--destaque-escuro);
}
body.escuro section#ficha h1 {
  color: var(--destaque-escuro);
}
body.escuro div#social a{
  color: var(--destaque-escuro);
}
body.escuro div#social a:hover{
  color: var(--destaque-inverso-escuro);
}
body.escuro article{
  background-color: var(--fundo-card-escuro);

}
body.escuro article h2 {
  color: var(--destaque-escuro);
}
body.escuro div{
  color: var(--texto-inverso);
  
}
body.escuro .skill-barra-container{
  background-color: rgb(90, 90, 90);
}
body.escuro .skill-bar{
  background-color:var(--destaque-escuro);
}
body.escuro footer{
  background-color: var(--destaque-escuro); 
}
body.escuro .container-formacao{
  background-color: var(--destaque-escuro);
}
body.escuro .card-formacao{
  color: var(--texto-inverso);
  background-color: var(--fundo-card-escuro);
  border: 1px solid var(--destaque-escuro);
}
body.escuro .card-projetos{
  border: 1px solid var(--destaque-escuro);
}
body.escuro summary{
  color: var(--destaque-escuro);
}