*{
    padding: 0; margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #cfcfcf;
}
main{
    background-color: #f1f1f1;
    min-height: 100vh;
    width: 80vw;
    margin: auto;
    
}
h1,h2{
    text-align: center;
    font-variant: small-caps;
    text-decoration: underline;
    color:  blue;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
}
input{
    display: block;
    margin: 10px;
    padding: 5px;
    min-width: 40vw;
    background-color: rgb(0, 162, 255);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}
input::placeholder{
    color: black;
    font-weight: bold;
    font-variant: small-caps;
}
button{
    padding: 10px;
    color: black;
    background-color: rgb(0, 162, 255);
    border: 2px solid black;
    border-radius: 10px;
    font-variant: small-caps;
    font-weight: bold;
    width: 20vw;
    cursor: pointer;
}
button:active{
    transform: scale(0.99);
}
select{
    background-color: rgb(0, 162, 255);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    appearance: none;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    display: block;
    margin:20px;
    cursor: pointer;
}
select:active{
    transform: scale(0.99);    
}
option{
    background-color: rgb(216, 216, 216);
    text-align: center;
    font-weight: bold;
}
img{
    max-width: 500px;

}
.alerta{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    background: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    /* Escondido por padrão usando opacidade e visibilidade */
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
            }

.alerta.ativo{
    opacity: 1;
    visibility: visible;
}
.barra-tempo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: rgb(0, 162, 255);
    width: 100%; /* Começa em 0 */
}

        /* Quando o alerta estiver ativo, a barra cresce (ou diminui) */
#alerta.ativo .barra-tempo {
    width: 0%;
    transition: width 3s linear;
}

